# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|')

### Step 4. Discover what is the mean age per occupation

In [ ]:
users.groupby('occupation').age.mean()

occupation
administrator   38.75
artist          31.39
doctor          43.57
educator        42.01
engineer        36.39
entertainment   29.22
executive       38.72
healthcare      41.56
homemaker       32.57
lawyer          36.75
librarian       40.00
marketing       37.62
none            26.56
other           34.52
programmer      33.12
retired         63.07
salesman        35.67
scientist       35.55
student         22.08
technician      33.15
writer          36.31
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
users['male_ratio'] = users['gender'].apply(lambda x: 1 if x == 'M' else 0)
m_ratio = users.groupby(['occupation']).male_ratio.sum() / users.groupby(['occupation']).male_ratio.count() * 100
m_ratio.sort_values(ascending = False)

occupation
doctor          100.00
engineer         97.01
technician       96.30
retired          92.86
programmer       90.91
executive        90.62
scientist        90.32
entertainment    88.89
lawyer           83.33
salesman         75.00
educator         72.63
student          69.39
other            65.71
marketing        61.54
writer           57.78
none             55.56
administrator    54.43
artist           53.57
librarian        43.14
healthcare       31.25
homemaker        14.29
Name: male_ratio, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby(['occupation'])[['age']].agg([np.max, np.min])

               age
              amax amin
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F        40.64
               M        37.16
artist         F        30.31
               M        32.33
doctor         M        43.57
educator       F        39.12
               M        43.10
engineer       F        29.50
               M        36.60
entertainment  F        31.00
               M        29.00
executive      F        44.00
               M        38.17
healthcare     F        39.82
               M        45.40
homemaker      F        34.17
               M        23.00
lawyer         F        39.50
               M        36.20
librarian      F        40.00
               M        40.00
marketing      F        37.20
               M        37.88
none           F        36.50
               M        18.60
other          F        35.47
               M        34.03
programmer     F        32.17
               M        33.22
retired        F        70.00
               M        62.54
salesman       F        27.00
               M        38.56
scientist      F        28.33
               M        36.32
student        F        20.75
               M        22.67
technician     F        38.00
               M        32.96
writer         F        37.63
               M        35.35
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [ ]:
users['female_ratio'] = users['gender'].apply(lambda x: 0 if x == 'M' else 1)
f_ratio = users.groupby(['occupation']).female_ratio.sum() / users.groupby(['occupation']).female_ratio.count() * 100

In [ ]:
m_ratio = pd.DataFrame(m_ratio)
f_ratio = pd.DataFrame(f_ratio)
pd.merge(m_ratio, f_ratio, how = 'inner', on = 'occupation')

               male_ratio  female_ratio
occupation
administrator       54.43         45.57
artist              53.57         46.43
doctor             100.00          0.00
educator            72.63         27.37
engineer            97.01          2.99
entertainment       88.89         11.11
executive           90.62          9.38
healthcare          31.25         68.75
homemaker           14.29         85.71
lawyer              83.33         16.67
librarian           43.14         56.86
marketing           61.54         38.46
none                55.56         44.44
other               65.71         34.29
programmer          90.91          9.09
retired             92.86          7.14
salesman            75.00         25.00
scientist           90.32          9.68
student             69.39         30.61
technician          96.30          3.70
writer              57.78         42.22

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=fe744348-fecc-4b7a-803c-44dba24ecb38' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>