# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [ ]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names = baby_names.drop(columns=['Unnamed: 0','Id'])

### Step 6. Is there more male or female names in the dataset?

In [ ]:
baby_names['Gender'].value_counts().sort_values(ascending = False).head(1)

F    558846
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [ ]:
names = baby_names[['Name','Count']].groupby('Name')

### Step 8. How many different names exist in the dataset?

In [ ]:
names['Count'].count().count()

17632

### Step 9. What is the name with most occurrences?

In [ ]:
names['Count'].sum().sort_values(ascending = False).head(1)

Name
Jacob    242874
Name: Count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [ ]:
names_count = names['Count'].sum().sort_values(ascending = False).to_frame()
names_count.loc[names_count['Count'] == names_count['Count'].min()].shape

(2578, 1)

### Step 11. What is the median name occurrence?

In [ ]:
names_count.loc[names_count['Count'] == names_count['Count'].median()]

          Count
Name
Zuleima      49
Vita         49
Aziah        49
Kaedence     49
Antonina     49
...         ...
Mckynzie     49
Yoni         49
Hareem       49
Jkwon        49
Nazier       49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [ ]:
names_count.Count.std()

11006.069467890571

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
names_count.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=fe744348-fecc-4b7a-803c-44dba24ecb38' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>